.si {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: middle;
}

.si-2x {
  width: 48px;
  height: 48px;
}

.si-3x {
  width: 72px;
  height: 72px;
}

.si-4x {
  width: 96px;
  height: 96px;
}
